# OS/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

# Java / Spring
**/target/
**/build/
*.log

# Node / Angular
microservice-ui/node_modules/
microservice-ui/dist/
microservice-ui/.angular/cache/
npm-debug.log*
yarn-error.log*

# Env & misc
*.env
