# Java / Spring / Maven / Gradle
target/
build/
.gradle/
*.log
*.iml
.idea/
.project
.settings/

# Angular
microservice-ui/node_modules/
microservice-ui/dist/
microservice-ui/.angular/cache/
microservice-ui/npm-debug.log*
microservice-ui/yarn-error.log*

# Misc
.DS_Store
.env
